@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

.upload{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid $line-light;
    
    &__line{
        @include tablet {
            border: 0.5px solid $line-light;
            width: 90%;
            position: relative;
            bottom: 6rem;
            right: .5rem;
        }
        @include desktop {
        border: 0.5px solid $line-light;
        width: 61.5rem;
        margin: 2rem 0 0 8rem;
        }
    }

    &__header{
        @include mob-h1;
        margin: 1.5rem 0 .5rem 1rem;
        @include tablet {
            @include td-h1;
            width: 90%;
            border-bottom: 1px solid $line-light;
            padding-bottom: 1rem;
            margin-left: 2rem;
        }
        @include desktop {
            margin-left: 8rem;
        }
    }

    &__subheader{
        @include mob-h2;
        color: $secondary-text;
        text-transform: uppercase;
        margin: 1rem 0 0.25rem 1rem;
        @include tablet {
            margin-left: 2rem;
        }
        @include desktop {
            margin-left: 8rem;
        }
    }

    &__container{
        
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 90%;
            margin: 0 6rem;
        }
    }

    &__subheader-form{
        @include mob-h2;
        color: $secondary-text;
        text-transform: uppercase;
        margin: 1rem 0 0.25rem 0;
        @include tablet {
            margin-left: 1rem;
        }
        @include desktop {
            margin-top: 0;
        }
    }

    &__thumbnail{
        width: 90%;
        height: auto;
        border-radius: 4px;
        margin-left: 1rem;
        @include tablet {
            width: 50%;
            margin-left: 2rem;
        }
        @include desktop {
            width: 30rem;
            height: 11.6rem;
        }
    }

    &__form{
        margin-left: 1rem;
        width: 90%;
        @include tablet {
            width: 94%;
        }
        @include desktop {
            width: 100%;
            height: 10rem;
        }

    }

    &__title-input{
        font-family: Avenir;
        width: 100%;
        height: 1rem;
        background-color: $form-background;
        border: 1px solid $line-light;
        border-radius: 4px;
        padding: .75rem;
        &::placeholder{
        color: $primary-text;
        }
        @include tablet {
            height: 1rem;
            width: 95%;
            margin: 0 1rem;
        }
        @include desktop {
            width: 80%;
            margin-bottom: 1rem;
        }
    }

    &__description-input{
        font-family: Avenir;
        width: 100%;
        height: 5rem;
        resize: none;
        background-color: $form-background;
        border: 1px solid $line-light;
        border-radius: 4px;
        padding: .75rem;
        &::placeholder{
        color: $primary-text;
        }
        @include tablet {
            height: 4rem;
            width: 95%;
            margin: 0 1rem;
        }
        @include desktop {
            width: 80%;
            height: 6rem;
        }
    }
}


.buttons{
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: baseline;
            margin-top: 1rem; 
            width: 97%;
        }
        @include desktop {
            margin-right: 8.5rem;
            padding-top: 1rem;
        }
        &__publish{
            @include labels-buttons;
            width: 100%;
            background-image: url(../../assets/images/publish.svg);
            @include tablet {
                width: 25%;
            }
        }
        &__cancel{
            @include labels-buttons;
            width: 100%;
            background-color: $cta-text;
            color: $cta-main;
            margin: 1.5rem 0 1.5rem 0;
            @include tablet {
                width: 30%;
            }
        }   
    }

    .publish__link{
        width: 100%;
        text-decoration: none;
        &:visited {
            color: $cta-text;
        }
    }