@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

 .hero {
     width: 98%;
     margin: 0;

    &__background {
        width: 100%;
        margin: 0;
        @include tablet{
            background-color: black;
            max-height: 25rem;
        }
        @include desktop {
            max-height: 29rem;
            width: 100%;
        }
    }
    &__video {
        width: 100%;
        max-height: 11.15rem;
        margin: 0;
        @include tablet {
            max-height: 25rem;
            width: 92%;
        }
        @include desktop {
            max-height: 29rem;
            width: 100%;
        }
    }
 }
//     &__title {
//         text-align: left;
//         margin: 1rem;
//         @include mob-h1;
//         @include tablet {
//             margin: 1.5rem 0 0 2rem;
//         }
//     }
//     &__metadata {
//         border-top: 1px solid $mercury;
//         border-bottom: 1px solid $mercury;
//         display: flex;
//         justify-content: space-between;
//         margin: 1rem;
//         @include tablet{
//             border-top: none;
//             margin: 0 0 0 2rem;
//         }
//     }
//     &__video-description {
//         text-align: left;
//         margin: 1rem;
//         @include mob-body;
//         @include tablet {
//             margin: 1.5rem 0 0 2rem;
//         }
//     }
//     &__comments-posted {
//         text-align: left;
//         margin: 1rem;
//         @include mob-h2;
//     } 
// }

// .metadata {
//     // border: 1px solid magenta;
//     margin-right: 3rem;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     @include tablet{
//         flex-direction: row;
//         width: 10rem;
//         justify-content: space-between;

//     }

//     &__user {
//         // border: 1px solid turquoise;
//         @include mob-h2;
//     }

//     &__date {
//         // border: 1px solid turquoise;
//         @include mob-body;
//         color: $silver;
//     }

//     &__counters {
//         // border: 1px solid goldenrod;
//         margin-right: 2rem;
//         @include mob-body;
//         color: $silver;
//         display: flex;
//         flex-direction: column;
//         @include tablet{
//             flex-direction: row;
//             width: 12rem;
//         }
//     }

//     &__counters-box {
//         display: flex;
//         flex-direction: row;
//         // border: 1px solid red;
//         margin-top: 1rem;
//         @include tablet{
           
//         }
//     }

//     &__counters-icon {
//         margin-right: .5rem;
//         width: 20px;
//         height: 20px;
    
//     }

//     &__body {
//         margin: 0;
//     }

// }