// PRIMARY
//primary text color - bflixblack
$primary-text: #323232;

//primary CTA, active form input outline - bflixblue
$cta-main: #0095FF;

//secondary text color - silver
$secondary-text: #AFAFAF;

//background color, CTA text color - white
$cta-text: #FFFFFF;

// SECONDARY
//video player components - darkblack
$dark-background: #000000;

//CTA hover state - darkblue
$cta-hover: #0065AD;

//divider line, default form input outline - mercury
$line-light: #E1E1E1;

//form input background - alabaster
$form-background: #FAFAFA;

