// PRIMARY
//primary text color
$brainflix-black: #323232;
//primary CTA, active form input outline
$brainflix-blue: #0095FF;
//secondary text color
$silver: #AFAFAF;
//background color, CTA text color
$white: #FFFFFF;

// SECONDARY
//video player components
$dark-black: #000000;
//CTA hover state
$dark-blue: #0065AD;
//divider line, default form input outline
$mercury: #E1E1E1;
//form input background
$alabaster: #FAFAFA;
