@use 'variables' as *;
@use 'colors' as *;

// MEDIA BREAKPOINTS
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// TYPE KIT - TABLET AND DESKTOP
@mixin td-h1 {
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-weight: 700;

}

@mixin td-h2 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
}

@mixin td-h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
}

@mixin td-body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

// same at all breakpoints
@mixin labels-buttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: 'Avenir';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $cta-text;
    background-color: $cta-main;
    border-radius: 4px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    width: 90%;
    margin-top: 1rem;
    
}


// TYPE KIT - MOBILE (DEFAULT)
@mixin mob-h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Avenir';
}

@mixin mob-h2 {
    font-size: .813rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: 'Avenir';
}

@mixin mob-h3 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary-text;
    font-family: 'Avenir';
}

@mixin mob-body {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: 'Avenir';
}

@mixin avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

