@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

.hero {
    width: 100%;
    
&__title {
    text-align: left;
    margin: 1rem;
    @include mob-h1;

    @include tablet {
        margin: 1.5rem 0 0 2rem;
        width: 90%;
    }
    @include desktop {
        width: 90%;
        margin-left: 6rem;
    }
}
&__metadata {
    border-top: 1px solid $line-light;
    border-bottom: 1px solid $line-light;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    @include tablet{
        border-top: none;
        margin: 0 2rem 0 2rem;
    }
    @include desktop {
        width: 88.5%;
        margin-left: 6rem;
    }
}
&__video-description {
    text-align: left;
    margin: 1rem;
    @include mob-body;
    @include tablet {
        margin: 1.5rem 2rem 0 2rem;
    }
    @include desktop {
        width: 90%;
        margin-left: 6rem;
        padding-right: 1rem;
        @include td-body;
    }
}
&__comments-posted {
    text-align: left;
    margin: 1rem;
    @include mob-h2;
    @include tablet {
        margin: 1.5rem 0 0 2rem;
    }
    @include desktop {
        width: 90%;
        margin-left: 6rem;
        @include td-h2;
    }
} 
}

.metadata {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet{
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
    }
    &__user {
        @include mob-h2;
    }
    &__date {
        @include mob-body;
        color: $secondary-text;
    }
    &__counters {
        margin-right: 2rem;
        @include mob-body;
        color: $secondary-text;
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            width: 12rem;           
        }
        @include desktop{
            width: 13rem;
            padding-right: 1rem;
        }
        
    }
    &__counters-box {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        @include tablet{
        padding-left: 2rem;
        }
    }
    &__counters-icon {
        margin-right: .5rem;
        width: 20px;
        height: 20px;
        
    }
    &__body {
        margin: 0;
    }
}