@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.videos{
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__header{
        @include mob-h3;
        margin: 1rem;
        border-top: 1px solid $mercury;
        width: 100%;
        text-align: left;
        padding-top: 1rem;
    }

    &__list{
        border: 2px solid magenta;
        list-style-type: none;
        margin: 0 0 .5rem 0rem;
        width: 90%;
    }
}

.single-video {
    display: flex;
    margin-bottom: .5rem;
    margin-left: 1rem;
    width: 100%;
    @include tablet {
        margin-bottom: 1rem;
    }
  

    &__link {
        text-decoration: none;
        width: 7rem;
        color: $brainflix-black;
        &:visited{
            color: $brainflix-black;
        }
    }

    &__thumbnail{
        width: 7rem;
        height: 4rem;
        overflow: hidden;
        background-color: $mercury;
        border-radius: 4px;
    }

    &__thumb-text{
        // border: 1px solid greenyellow;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        // margin-left: 1rem;
    
    }

    &__title{
        @include mob-h2;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-clamp: 2;
        // display: -webkit-box;
        -webkit-box-orient: block-axis;
        text-align: left;
        width: 10rem;
        margin: .5rem 0;
    }

    &__creator{
        @include mob-body;
        margin: .5rem 0;
    }
}