@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

.videos{
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__header{
        @include mob-h3;
        margin: 1rem;
        border-top: 1px solid $mercury;
        width: 100%;
        text-align: left;
        padding-top: 1rem;
        @include tablet {
            width: 91.5%;
            margin-left: 2rem;
        }
        @include desktop {
            margin-left: 1.3rem;
            border: none;
        }
    }

    &__list{
        // border: 2px solid magenta;
        list-style-type: none;
        margin: 0 0 .5rem 0rem;
        width: 100%;
    }
}

.single-video {
    // border: 2px solid turquoise;
    margin-bottom: .5rem;
    margin-left: 1rem;
    width: 20rem;
    @include tablet {
        margin: 0 0 1rem 2rem;

    }
  

    &__link {
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        width: 20rem;
        color: $brainflix-black;
        &:visited{
            color: $brainflix-black;
        }
    }

    &__thumbnail{
        // border: 2px solid green;
        width: 6.6rem;
        height: 3.8rem;
        overflow: hidden;
        background-color: $mercury;
        border-radius: 4px;
    }

    &__thumb-text{
        // border: 2px solid greenyellow;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 12rem;
    
    }

    &__title{
        @include mob-h2;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-align: left;
        width: 10rem;
        margin: .5rem 0;
        @include tablet {
            width: 10rem;
        }

    }

    &__creator{
        @include mob-body;
        margin: .5rem 0;
    }
}