@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    box-sizing: border-box;
    font-family: 'Avenir';
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;

    @include tablet {
        align-items: flex-start;
        margin: 0 2rem;
    }
    @include desktop {
        width: 90%;
        margin-left: 5rem;
    }
    &__head {
        @include mob-h3;
        margin: 0 .75rem .5rem 3rem;
        align-self: flex-start;
        @include tablet {
            margin: 1rem 0 .5rem 4rem;
        }
        @include desktop {
            margin-left: 4.25rem;
        }       
    }
}

.form {
    width: 100%;
    margin: 0 0 1rem 0;
    display: flex;
    @include tablet {
        width: 100%;
        margin: 0;
    }
    &__avatar {
        @include avatar;
        @include tablet {
            margin-left: 0;
            margin-left: 1rem;
        }
    }
    &__actions{
        width: 100%;
        @include tablet {
            width: 95%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
        }
        @include desktop {
            width: 90%;
        }
    }
        &__textarea {
            width: 90%;
            height: 5rem;
            background-color: $alabaster;
            border: 1px solid $mercury;
            border-radius: 4px;
            padding: .75rem;
            resize: none;
            &::placeholder{
                color: $brainflix-black;
            }
            @include tablet {
                height: 2.5rem;
                width: 70%;
                margin: 0 1rem;
                padding: .6rem;  
            }
            @include desktop {
                width: 72%;
            }

        }
        &__button {
            @include labels-buttons;
            background-image: url("../../assets/images/add_comment.svg");
            @include tablet {
                width: 25%;
                margin: 0;
            }
            @include desktop {
                width: 22%;
            }
        }  
}

.single-comment {
    border-top: 1px solid $mercury;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    @include tablet {
        // margin-left: 1rem;
        width: 100%;
    }
    @include desktop {
        width: 98%;
        margin-left: 1rem;
        @include td-body;
    }
    &__avatar {
        @include avatar;
        background-color: $mercury;
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 100%;
    }
    &__info {
        display: flex;
        margin-top: 1rem;
        @include desktop {
            width: 98%;
        }
    }
    &__post {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__username {
        @include mob-h2;
        margin: 0 0 0 .65rem;
    }
    &__date {
        @include mob-body;
        color: $silver;
        margin: 0rem;
    }
// set to display none for now, because no likes functionality built into this sprint
    &__likes {
        display: none;
    }
    &__text {
        @include mob-body;
        text-align: left;
        width: 85%;
        margin: -.75rem 0 0 3rem;
    }
}